tensorflow-gpu==2.5.2   # GPU version of TensorFlow >= 1.11.0. (should be under 2.0.0)



# To evaluate RE answers :
sklearn
pandas==0.23

# To evaluate BioASQ answers, your system should be able to execute java codes.
# Please refer https://github.com/BioASQ/Evaluation-Measures for details.
